.container {
  position: relative;
  width: 255px;
  height: 518px;
  border-radius: 15px;
  background-color: #1c204b;
  color: #fff;
  margin: 0 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  @media (max-width: 400px) {
    width: 327px;
    height: 203px;
  }
}
.userInfo {
  background-color: #5747ea;
  height: 354px;
  width: 255px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  @media (max-width: 400px) {
    width: 327px;
    height: 133px;
    flex-direction: row;
    align-items: center;
  }
}
.avatar {
  margin: 32px auto;
  align-self: center;
  justify-self: center;
  width: 138px;
  height: 145px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 1px 1px 7px 0px #00000080;
  @media (max-width: 400px) {
    margin: 10px;
    width: 64px;
    height: 64px;
  }
}
.userTitle {
  margin-left: 23px;
  margin-bottom: 10px;
  color: #bbc0ff;
  font-weight: 400;
  font-size: 15px;
  @media (max-width: 400px) {
    display: none;
  }
}
.userSubTitle {
  margin-left: 21px;
  color: #fff;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 12px;
  @media (max-width: 400px) {
    display: none;
  }
}
.links {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-top: 26px;
  a {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10.5px;
  }
  @media (max-width: 400px) {
    margin-left: 0px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 28px;
  }
}
.activeLink {
  color: #fff;
}
.idleLink {
  color: #7078c9;
}
.userSubTitleMobile {
  font-size: 24px;
  font-weight: 300;
  @media (min-width: 400px) {
    display: none;
  }
}
.userTitleMobile {
  color: #bbc0ff;
  font-size: 15px;
  font-weight: 400;
  @media (min-width: 400px) {
    display: none;
  }
}
